<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>爬图</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/socket.io.js"></script>
	<script src="./javascripts/jquery-1.11.3.js"></script>
	<style>
	body{padding:0;margin:0;}
		.textarea{width:80%;resize:none;}
		.out-file{
			position:absolute;
			border:1px solid #f80;
			overflow:auto;
			top:200px;
			left:0;
			right:0;
			bottom:0;
		}
		.content{
			padding:0;
			margin: 0;
    		line-height: 20px;
		}
		.content img{
			float:left;
		}
		.clearfix:after,.clearfix:before{
			content:' ';
			display:table;
		}
		.clearfix:after{
			clear:both;
		}
		.clearfix{
			zoom:1;
		}
	</style>
	<script>

		$(function() {
			var s = io.connect("localhost:8005"); //服务器地址
			var $out = $("#out_file"),
				$template = $("#template").hide(),
				getRgb = function() {
					var colorList = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f'],
						ran = Math.floor(Math.random() * (15)),
						rgb;

					rgb = colorList[ran];
					colorList.sort(function() {
						return Math.random() > 0.6
					});
					rgb += colorList[ran];
					colorList.sort(function() {
						return Math.random() > 0.6
					});
					rgb += colorList[ran];
					return "#" + rgb;
				};

			s.on("connect", function() {
				alert("支持socket,放心的开扒吧");
			});
			s.on('event', function(data) {
				alert(data)
			});
			s.on('disconnect', function() {
				alert("disconnect")
			});

			$("#btn_start").on("click", function() {
				$(this).prop("disabled", true);
				s.emit('sayphoto', {
					native: $native.val(),
					thumbnails: $thumbnails.val()
				});

				// var urls = $("#urls").val() || $("#urls").text();
				// urls = {
				// 	urls: urls.split(',')
				// };
				// $.ajax({
				// 	type: "post",
				// 	async: false,
				// 	url: "/photoStart",
				// 	contentType: "application/json",
				// 	dataType: 'json',
				// 	data: JSON.stringify(urls),
				// 	success: function(data) {
				// 		alert(data.Success.join('\n\t'));
				// 		//s.emit('sayphoto',{a:"abc"});
				// 	},
				// 	error: function() {}
				// });
			});

			//注册事件
			s.on('end', function(data) {
				$("#btn_start").prop("disabled", false);
				$cur.html(data);
			});

			s.on('messagephoto', function(data) {
				setContent(data);
			});

			var $cur_url = $("#cur_url"),
				$cur = $("#cur"),
				$context = $("#context"),
				$native = $("#native"),
				$thumbnails = $("#thumbnails");

			function setContent(data) {

				$context.val($context.val() + "\n\t" + data.originAddress);
				$cur_url.html(data.originAddress);
				// $cur.html(data.filename);
				$template.find("p").css("background", getRgb());
				$template.find("img").attr("src", data.nowAddress);
				$template.find("span").html(data.originAddress + "<br>" + data.nowAddress + "<br>" + data.filename);
				var temp = $template.clone().html();
				$out.append(temp).scrollTop(9999999);
			}

		});
	</script>
</head>
<body>

	<textarea class="textarea" name="" id="context" cols="30" rows="10" placeholder="显示下载图片地址"></textarea>
	<input type="button" id="btn_start" value="开始">
	<div class="txt-group">
		<em>原图保存地址：</em><input id="native" type="text">
		<em>缩略图保存地址：</em><input id="thumbnails" type="text">
	</div>
	<div class="process">
		<span>正在保存图片：<em id="cur_url"></em></span><span id="cur"></span>
	</div>
	<div id="out_file" class="out-file">

	</div>
	 <div id='template'>
    	<p class="content clearfix">
		<img src="/origin/9077b22dgw1ewpgwde41yg20ap08cx6p.gif" alt="">
		<span></span>
    	</p>
    </div>
</body>
</html>