<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>爬图</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/socket.io.js"></script>
	<script src="./javascripts/jquery-1.11.3.js"></script>
	<style>
	body{padding:0;margin:0;}
		.textarea{width:80%;resize:none;}
		.out-file{
			position:absolute;
			border:1px solid red;
			overflow:auto;
			top:200px;
			left:0;
			right:0;
			bottom:0;
		}
	</style>
	<script>
		
		$(function() {
			var s=io.connect("10.0.0.164:8010"); //服务器地址
			var $out = $("#out_file"),
				$template = $("#template").hide(),
				getRgb = function() {
					var colorList = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f'],
						ran = Math.floor(Math.random() * (15)),
						rgb;

					rgb = colorList[ran];
					colorList.sort(function() {
						return Math.random() > 0.6
					});
					rgb += colorList[ran];
					colorList.sort(function() {
						return Math.random() > 0.6
					});
					rgb += colorList[ran];
					return "#" + rgb;
				};

			$("#btn_start").on("click", function() {
				// var urls = $("#urls").val() || $("#urls").text();
				// urls = {
				// 	urls: urls.split(',')
				// };
				// $.ajax({
				// 	type: "post",
				// 	async: false,
				// 	url: "/photoStart",
				// 	contentType: "application/json",
				// 	dataType: 'json',
				// 	data: JSON.stringify(urls),
				// 	success: function(data) {
				// 		alert(data.Success.join('\n\t'));
				// 	},
				// 	error: function() {}
				// });

				s.emit('sayphoto');
			});

			//注册事件
    		

    		s.on('messagephoto',function(data){
    			setContent(data);
    		});

			function setContent(data) {
				$template.find("p").html(data.filename).css("background", getRgb());
				var temp = $template.clone().html();
				$out.append(temp).scrollTop(9999999);
			}

		});
	</script>
</head>
<body>
	
	<textarea class="textarea" name="" id="urls" cols="30" rows="10" placeholder="输入地址，多个地址逗号分隔"></textarea>
	<input type="button" id="btn_start" value="开始">
	<div id="out_file" class="out-file">

	</div>
	 <div id='template'>
    	<p class="content">fdadsadf</p>
    </div>
</body>
</html>