*.zip
*.rar
*.bak
*.log

test2/node_modules
demo/node_modules
express-mvc/node_modules
express-mvc/resource/data/photo
express-mvc/resource/data/focus
express-mvc/resource/data/waterImg
express-mvc/resource/data/photoOrigin
express-mvc/tempFile
ext-demo/node_modules
nodejs-express-mongodb-demo/node_modules
optimizer/node_modules
