	<%- include('../frame/frame_head')-%>	
	<!-- load css -->	
	<link rel="stylesheet" href="/styles/css/grid.css">	

	<blockquote>Condition</blockquote>

	<div class="panel">
		<div id="filters_scope" class="form-inline clearfix">
			<div class="form-group mg-t">
				<label for="">email:</label>
				<input type="text" data-field="email" class="form-control"></div>

			<div class="form-group mg-t">
				<label for="">password:</label>
				<input type="text" data-field="password" class="form-control"></div>
			<div class="form-group pull-right mg-t">
				<div class="btn-group">
					<button class="btn btn-primary" data-toggle="tooltip" title="为空查询全部" data-action="search">Search</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-primary" data-toggle="tooltip" title="清空所有查询条件" data-action="clear">Clear</button>
				</div>
			</div>
		</div>
	</div>

	<blockquote>Result</blockquote>

	<div id="gridpanel" class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">

				<button class="btn btn-success" type="button"  id="user_add" data-field="add">Add</button>
				<a class="btn btn-link" type="button" href="/user/invokeWebservice" target="_blank" id="user_webservice">Invoke Webservice</a>
				<a class="btn btn-link" type="button" href="/user/insertTempData"  target="_blank">InsertTemp</a>
				<a class="btn btn-link" type="button" href="/user/exportExcel"  target="_blank">Export Excel</a>
				<a class="btn btn-link" type="button" href="/user/export" target="_blank">Download</a>
				<a class="btn btn-link" type="button"  data-action="upload">Upload</a>
				<form id="uploadForm" method="post" enctype="multipart/form-data">  
				 	<input type="file" name="example">
					<!-- <a class="btn btn-link" type="button" href="javascript:;" data-action="upload">Upload</a> -->
					<input type="submit" value="submit"/>
				</form>
			</div>
		</div>

		<div class="table-responsive">
			<table id="user_list" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>_id</th>
						<th>email</th>
						<th>password</th>
						<th class="text-centuser_lister" style="width:15%;">Operation</th>
					</tr>
				</thead>
				<tbody id="tbody_user">
					<script id="tbody_user_template" type="template">
						{{#Data}}
							<tr>
								<td><span  data-field="_id">{{_id}}</span></td>
								<td><span  data-field="email">{{email}}</span></td>
								<td><span  data-field="password">{{password}}</span></td>
								<td class="text-center">
										<div class="btn-group"><button type="button" title="根据ID修改" data-field="update" class="btn btn-success btn-sm">Update</button></div>
										<div class="btn-group"><button type="button" data-field="del"  title="根据ID删除" class="btn btn-danger  btn-sm">Delete</button></div>
								</td>
							</tr>
						{{/Data}}
					</script>
				</tbody>
			</table>
		</div>

		<div id="paging" class="panel-footer text-center form-inline">
			<script type="text/template" id="paging_template">
				{{#Paging}}
					<div class="input-group">
						<ul class="pagination page-middle">
							<li>
								<a href="javascript:;" data-action="prev">
									<span>&laquo;</span>
								</a>
							</li>
							{{#PageNums}}
								<li class="{{cls}}">
									<a  href="javascript:;" data-action="paging">{{idx}}</a>
								</li>
							{{/PageNums}}
							<li>
								<a href="javascript:;" data-action="next">
									<span>&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="input-group m-l-r">共 <label for="">{{PageCount}}</label> 页</div>
					<div class="input-group page-cur">
						<input type="text" class="form-control" data-field="page_num" placeholder="页码" data-toggle="popover" data-placement="top" data-trigger="manual"  data-content="请输入正确的页码">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" data-action="redirect_page">Go!</button>
						</span>
					</div>
				{{/Paging}}
			</script>
		</div>
	</div>

	<script type='text/javascript' src='/scripts/app/user/main.js'></script>

	<!-- 编辑信息 -->	
	<%- include('../frame/modal')-%>	
	<%- include('../frame/frame_footer')-%>	