<div class="row pusher">
	<div class="col-sm-12 col-md-12">
		<div class="jumborton"></div>
	</div>
</div>

<div class="row foot-in">
	<div class="col-sm-12 col-md-12">
		<div class="jumborton foot-content">
			<div class="container-fulid">
				<h3>版权所有&#169;</h3>
			</div>
		</div>
	</div>
</div>