<div class="row pusher">
	<div class="col-sm-12 col-md-12">
		<div class="jumborton"></div>
	</div>
</div>

<div class="row foot-in">
	<div class="col-sm-12 col-md-12">
		<div class="jumborton foot-content">
			<div class="container-fulid">
				<p>
					<a href="javascript:;">Node-MVC</a>
					<span class="pipe">|</span>
					<a href="javascript:;">关于我们</a>
					<span class="pipe">|</span>
					<a href="javascript:;">论坛</a>
					<span class="pipe">|</span>
					<a href="javascript:;">友情链接</a>
					<span class="pipe">|</span>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=398981921&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:398981921:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
				</p>
				<p><a href="mailTo:wei.yaoisnull@gmail.com" target="_blank" class="send-email">Send Email</a></p>
			</div>
		</div>
	</div>
</div>

