<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

        <link rel="stylesheet" href="/styles/1.normalize.css" />
        <link rel="stylesheet" href="/styles/2.utils.css" />
        <link rel="stylesheet" href="/styles/3.main.css" />

	<style>
	/*html,body{font-size:14px;}*/
	body{margin:0;padding:70px 0;}
	.page-header{line-height: 70px;background: #556;color:#fff;border-radius: 4px;border:1px solid;text-align:center;width:100%;position: fixed;top:0;z-index: 2;}
	.page-footer{
		line-height: 70px;background: #556;color:#fff;border-radius: 4px;border:1px solid;text-align:center;
		position: fixed;bottom:0;width:100%;z-index: 2;
	}
	.page-body{
		position: relative;
		padding:20px;
		height: 100%;
		z-index: 1;
	}
	</style>
</head>
<body>
<div class="page-header">
<h3>Header</h3>
</div>
<div class="page-body">













