<div id="modal_edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymodal">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span>&times;</span>
				</button>
				<h4 class="modal-title">Edit</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="">Eamil:</label>
					<input type="text" data-field="email" class="form-control" value="" data-trigger="manual" data-toggle="popover" data-title="Email" data-content="" data-placement="top">
					<input type="hidden" data-field="_id">
				</div>
				<div class="form-group">
					<label for="">Password:</label>
					<input type="text" data-field="password" class="form-control" value="" required>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-field="save">Save changes</button>
			</div>
		</div>
	</div>
</div>


<%- include('tips')-%>
