<div id="modal_alert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymodal">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span>&times;</span>
				</button>
				<h4 class="modal-title">Tips</h4>
			</div>
			<div class="modal-body">
				<blockquote data-field="tip_info">Confirm delete the record?</blockquote>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-field="del_sure">Yes</button>
			</div>
		</div>
	</div>
</div>

<div id="modal_success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymodal">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span>&times;</span>
				</button>
				<h4 class="modal-title">Tips</h4>
			</div>
			<div class="modal-body">
				<blockquote data-field="tip_info"></blockquote>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
			</div>
		</div>
	</div>
</div>