<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://www.baidu.com" />
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
    </system.webServer>
</configuration>
