@charset "utf-8";

$bodyTop: 70px;
$body_bg: url("/res/images/lg_bg.png") repeat #fff;
$setdeg-count: 12;

%center {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
%originTransition{
       transition:all .5s ease;
    -webkit-transition:all .5s ease;
}

.nav-custom-origin{
    font-size:1em;
    @extend %originTransition;
}
.nav-custom{
    font-size:1.2em;
   @extend %originTransition;
}

@mixin centerEl($width: null, $height: null) {
    position: absolute;
    top: 50%;
    left: 50%;

    @if not $width and not $height {
        transform: translate(-50%, -50%);
    }
    @else if $width and $height {
        width: $width;
        height: $height;
        margin: -($width / 2);
    }
    @else if not $height {
        width: $width;
        margin-left: -($width / 2);
    }
    @else {
        height: $height;
        margin-top: -($height / 2);
        transform: translate(-50%);
    }
}

body {
    padding-top: $bodyTop;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.5);
}

.sidebar {
    display: none;
}

.main {
    padding: 0 20px 20px;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 3000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.nav-sidebar {
    margin: 0 -21px 20px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background: #428bca;
    color: #fff;
}

.nav-sidebar > li > a {
    padding: 10px 20px;
}

blockquote {
    background: #eee;
    position: relative;
    padding-left: 2em;
    border: none;

    &:before {
        position: absolute;
        content: "";
        display: block;
        border-style: solid;
        border-color: #fff #eee #eee #fff;
        top: 0;
        left: 0;
        border-width: 22px 12px 23px;
    }
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.bg-active {
    color: #fff;
    background-color: #337ab7 !important;

    a {
        @extend .bg-active;
    }
}

.form-inline .mg-t {
    margin: 10px 10px 10px 0;
}

.export-cls {
    position: relative;
}

.export-cls span.white {
    color: #555;
}

.export-cls-file {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    filter: alpha(opacity = 0);
    opacity: 0;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.thumbnail-panel {
    width: 100%;
    table-layout: fixed;

    & a {
        border: none;
    }

    & img {
        max-height: 100px;
    }
}

/**
 * loading css
 */
%loading-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all .75s ease;
}

.loading, .loading-child {
    @extend %loading-center;

    width: 60px;
    height: 60px;
    transition: none;
}

.loading-child {
    @extend %loading-center;

    width: 100%;
    height: 100%;
}

.loading-child:before {
    content: '';
    display: block;
    background: #fff;
    margin: 0 auto;
    border-radius: 100%;
    width: 20%;
    height: 20%;
    animation: circle 1.2s ease-in-out infinite;
    -webkit-animation: circle 1.2s ease-in-out infinite;
}

@mixin set-deg($deg: 30deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
}

@for $i from 1 through $setdeg-count {
    @if $i > 1 {
        .loading .loading-c-#{$i} {
            $num: $i - 1;

            @include set-deg($num * 30deg);

            &:before {
                animation-delay: -1.2s + $num * 0.1;
                -webkit-animation-delay: -1.2s + $num * 0.1;
            }
        }
    }
}

@mixin hackanimation {
    0%, 9%, 100% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    10% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes circle {
    @include hackanimation;
}

@-webkit-keyframes circle {
    @include hackanimation;
}

.loading p {
    background: #fff;
    border-radius: 4px;
    line-height: 35px;
    display: none;
}

@mixin min-screen($res) {
    @media only screen and (min-width: $res) {
        @content;
    }
}

@include min-screen(978px) {
    .loading p {
        // display: none;
    }
}



.panel-custom {
    position: relative;
    background: transparent;
    background: $body_bg;
    z-index: 2;
}

.jumborton-custom {
    color: #fff;
}

.pusher {
    display: block;
    height: 150px;
}

.foot-in {
    position: fixed;
    width: 100%;
    color: #fff;
    bottom: 0;
    z-index: 1;

    .foot-content {
        background: #000;
        height: 150px;
    }
}