.modal-center, .modal-center::after, .modal-center::before { position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; }

body { padding-top: 70px; }

.content { width: 100%; height: 100%; position: relative; box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.5); }

.sidebar { display: none; }

.main { padding: 0 20px 20px; }

@media (min-width: 768px) { .sidebar { position: fixed; top: 51px; bottom: 0; left: 0; z-index: 3000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background: #f5f5f5; border-right: 1px solid #eee; }
  .main { padding-right: 40px; padding-left: 40px; } }
.nav-sidebar { margin: 0 -21px 20px; }

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus { background: #428bca; color: #fff; }

.nav-sidebar > li > a { padding: 10px 20px; }

.sub-header { border-bottom: 1px solid #eee; padding-bottom: 10px; }

.bg-active, .bg-active a { color: #fff; background-color: #337ab7 !important; }

.form-inline .mg-t { margin: 10px 10px 10px 0; }

.modal-center, .modal-center::after, .modal-center::before { width: 50px; height: 50px; border-radius: 100%; opacity: 0.75; transition: all .75s ease; }

.modal-center::after, .modal-center::before { content: ""; }

.modal-center::before { border: 5px solid #ccc; }

.modal-center::after { border: 5px solid transparent; border-top-color: #fff; transform: scale(50, 250); }

.modal-center { width: 350px; height: 350px; }

@media only screen and (min-width: 978px) { .modal-center::after { animation: rotatedeg 2s linear infinite normal; } }
@keyframes rotatedeg { from { transform: rotate(0deg); }
  to { transform: rotate(360deg); } }
