$carouselH: 100%;
$body_bg: url("/res/images/lg_bg.png") repeat #fff;
$photo_bg: url("/res/images/carousel_bg.png") #fff;

body {
    background: $body_bg;
}

.carousel-custom {
    height: 500px;
    background: $photo_bg;

    .carousel-inner {
        height: $carouselH;

        .item {
            height: $carouselH;

            img {
                height: $carouselH;
                margin: 0 auto;
            }
        }
    }
}

@mixin delay-detail {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.row-water-panel {
    position: relative;

    .col-for-rowpanel {
        position: absolute;

        @include delay-detail;

        .thumbnail {
            position: relative;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 60px 5px rgba(125, 125, 125, 0.75);
                -webkit-box-shadow: 0 0 60px 5px rgba(125, 125, 125, 0.75);

                @include delay-detail;

                .detail-content {
                    top: 4px;
                    opacity: .75;

                    @include delay-detail;
                }
            }
        }

        img {
            min-height: 200px;
        }

        .operator-info {
            line-height: 36px;
            height: 36px;
            margin-top: -36px;
            padding-right: 20px;
            text-align: right;
            opacity: .75;
            color: #fff;
            background: #000;

            span {
                margin: 0 5px;

                &:hover {
                    color: #337ab7;
                }
            }
        }

        .detail-content {
            position: absolute;
            top: 50%;
            right: 4px;
            bottom: 40px;
            left: 4px;
            opacity: 0;
            background: #000;
            color: #fff;
            overflow: hidden;
            padding: 4px;

            @include delay-detail;
        }
    }
}

.bs-modal-lg {
    img {
        width: 100%;
    }
}