<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HPSPDM</title>
		<!-- load css -->
	<link rel="stylesheet" type="text/css" media="all" href="/resources/ext-theme-gray/ext-theme-gray-all.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/style/all.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/style/icon.css" />

	<!-- load scripts -->
	<script type="text/javascript" src="/js/extjs/bootstrap.js"></script>
	<script type="text/javascript" src="/js/extjs/ext-lang-zh_CN.js"></script>

	<!-- include config -->
	<script>
		var pageCode="master";
	</script>
	<%- include('globalConfig') -%>
	<%- include('extjsConfig') -%>

	<!-- load app.js -->
	<script type="text/javascript" src="/js/app/app.js"></script>
</head>
<body>
<script id="header_template" type="text/template">
	<h1 class="header-logo">浩配主数据管理系统</h1>
		<ul class="header-userinfo">
		<li><span>登录时间：</span><label>2016/5/13</label></li>
		<li><span>用户：</span><label>HPSPDM.header.data.username</label></li>
		<li><span>角色：</span><label>管理员、文件工具员</label></li>
		</ul>
		<ol class="header-operation">
		<li><a data-action="change-password"><s class="operation-lock"></s><span>修改密码</span></a></li>
		<li><a data-action="logout"><s class="operation-logout"></s><span>退出</span></a></li>
		</ol>
</script>
</body>
</html>