html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Micrsoft Yahei',Arial;
    font-size: 14px;
    line-height: 1;
}

body {
    color: #515151;
    background: #fff;
    height: 100%;
}