<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Jumbotron &#8482</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
     body {
		  padding: 70px 0;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle Button</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Jumbotron</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<div class="form-group">
							<input type="text" class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
							<input type="text" class="form-control" placeholder="PassWord">
					</div>
					<button type="submit" class="btn btn-success">Sign In</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>Hello,World</h1>
		<p>巨幕模板</p>
		<button type="button" class="btn btn-primary btn-lg">Learn more »</button>
		</div>
	</div>
</body>
</html>