	<%- include('../shared/bootstrap_head')-%>	
	<!-- load css -->	
	<link rel="stylesheet" href="/styles/css/photodetail.css">
	<link rel="stylesheet" href="/styles/css/imageviewer.css">

	<div class="container-fluid">
		<div class="panel panel-custom">
			<div class="row">
				<div class="col-sm-12 col-md-12 no-padding">
					<div class="carousel slide carousel-custom" id="carousel">
						<script id="carousel_template" type="text/template">
							{{#Data}}
								<ol class="carousel-indicators">
									{{#list}}
										<li data-target="#carousel" data-slide-to="{{idx}}" class="{{cls}}"></li>
									{{/list}}
								</ol>
								<div class="carousel-inner" role="listbox">
									{{#data}}
										<div class="item {{cls}}">
											<img src="/data/focus/{{imgguid}}" alt="{{imgguid}}" data-field="content">	
											<div class="carousel-caption">{{filename}}</div>
										</div>
									{{/data}}
								</div>

								<a href="#carousel" class="left carousel-control" role="botton" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a href="#carousel" class="right carousel-control" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<span class="sr-only">Next</span>
								</a>
							{{/Data}}
						</script>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="jumborton jumborton-custom">
						<div class="container">
							<h1><span class="glyphicon glyphicon-pushpin"></span></h1>
						</div>
					</div>
				</div>
			</div>
			<div id="waterfull_content" class="row row-water-panel">

				<!-- div.col-sm-6.col-md-3.col-for-rowpanel[data-toggle="modal"][data-target="#thumbnail_modal"]*12>a[href=javascript:;].thumbnail>img[src='/data/photo/$.jpg'] -->
				<script id="waterfull_content_template" type="text/template">
					{{#Data}}
						{{#data}}
						<div class="col-xs-12 col-sm-6 col-md-3 col-for-rowpanel" data-field="idx" >
							<a class="thumbnail">
								<img  data-field="content" data-high-res-src="/data/photoOrigin/{{imgguid}}" src="/data/photo/{{imgguid}}" alt="{{imgguid}}">
								<div class="operator-info">
									<span data-action="zhan" class="glyphicon glyphicon-thumbs-up"></span>
									<span data-action="love" class="glyphicon glyphicon-heart"></span>
									<span data-toggle="modal" data-target="#thumbnail_modal" class="glyphicon glyphicon-picture" title="查看大图"></span>
									 <span data-action="fullscreen" class="glyphicon glyphicon-fullscreen" title="全屏"></span>
								</div>

								<div class="detail-content">
									<div class="container-fulid">
										<h3>标题</h3>
										<p>
											<label>Note:</label>
											{{note}}
										</p>
										<p>
											<label>CreateBy:</label>
											{{createBy}}
										</p>
										<p>
											<label>CreateDate:</label>
											{{createDate}}
										</p>
									</div>

								</div>
							</a>
						</div>
						{{/data}}
					{{/Data}}
				</script>
			</div>
			</div>


		<%- include('../shared/footer')-%>
	</div>

	<!-- 图片放大图 -->
	<div id="thumbnail_modal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h3 class="modal-title">Title</h3>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<img data-field="modal-img" class="center-block" src="" alt=""></div>
				</div>
				<div class="modal-footer">
					<h3 class="text-center">Footer</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-top"><span class="glyphicon glyphicon-upload"  data-toggle="tooltip" title="Top" data-action="Top"></span></div>

	<script type='text/javascript' src='/scripts/app/photo/detail.js'></script>
	<%- include('../shared/bootstrap_footer')-%>