<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nodejs-Express-MVC</title>
	<link rel="stylesheet" href="/styles/css/bootstrap.css">
	<link rel="stylesheet" href="/styles/css/all.css">
	<link rel="stylesheet" href="/styles/css/login.css">

	<%- include("../config/requireConfig")-%>
	<%- include("../config/globalConfig")-%>

	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div class="content">
	<div class="container login">
		<div class="table-middle">
			<form action="/login/signin" method="post" class="form-signin">
				<h3 class="form-signin-heading">用户登录</h3>
				<input type="email" name="email" class="form-control" placeholder="Email address" value="<%= email %>
				" required autofocus>
				<input type="password" name="password" class="form-control" placeholder="Password" required >
				<div class="checkbox">
					<label for="re_ck">
						<input id='re_ck' type="checkbox" name="remeber">Remeber me</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
			<!-- <form action="/login/save" method="post" class="form-signin">
				<h3 class="form-signin-heading">用户注册</h3>
				<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
				<input type="password" name="password" class="form-control" placeholder="Password" required >
				<div class="checkbox">
					<label for="re_ck">
						<input id='re_ck' type="checkbox" name="remeber" value="Remeber me">Remeber me</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form> -->
			<div class="login-clip"></div>
		</div>
	</div>
</div>
<div class="flag">用户登录</div>

</body>
</html>