<form id="recover" action="/login/save" method="post" class="form-signin">
	<h3 class="form-signin-heading">用户注册</h3>
	<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
	<input type="password" name="password" class="form-control" placeholder="Password" required >
	<div class="checkbox">
		<label for="re_ck_register">
			<input id='re_ck_register' type="checkbox" name="remeber" value="Remeber me">Remeber me</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	<a class="text-recover"> <em>Login</em>
	</a>
</form>