.center, .wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrap {
  background: #ff8800;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 5px 0 55px rgba(100, 255, 50, 0.85); }
  .wrap .wrap-child {
    background: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 10px solid #333;
    border-radius: 4px;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%); }
